.css-175oi2r {
    z-index: inherit !important;
  }
  .r-u8s1d {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    pointer-events: auto;
    background-color: white; /* Eller annan färg som passar */
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    padding: 16px;
}
